<div class="leftContainer container">
  <h2>Here is the list!</h2>
  <div class="search">
    <p>The Search bar will be here</p>
  </div>
  <div class="propertylist">
    <p>And the property list here</p>
  </div>
</div>

<div class="rightContainer container">
  <div id="map"></div>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qF171O_qBdXdwSLnH07kFDtbCk5M1CY&callback=initMap"></script>
</div>
