<div class="leftContainer container">
    <h2>Here is the list!</h2>
    <div class="search">
        <label for="search" class="search">Leitaðu að húsnæði</label>
        <div class="input-group">


          <div id="postnumer" class="postnumer">
            <p id="postnumerToggle">Póstnúmer:</p>
            <div id="postnumerCollapse">
              <form>
                  <input type="checkbox" name="zipALL"
                  onchange="handleChange(this)">Öll póstnúmer</input><br>

                  <input type="checkbox" name="REY" name="zipMANY"
                    onchange="handleChange(this)">
                    <span id="toggleREY">Reykjavík</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseREY" style="display: none">
                    <input type="checkbox" name="zipREY" value="101">101</input><br>
                    <input type="checkbox" name="zipREY" value="103">103</input><br>
                    <input type="checkbox" name="zipREY" value="104">104</input><br>
                    <input type="checkbox" name="zipREY" value="105">105</input><br>
                    <input type="checkbox" name="zipREY" value="107">107</input><br>
                    <input type="checkbox" name="zipREY" value="108">108</input><br>
                    <input type="checkbox" name="zipREY" value="109">109</input><br>
                    <input type="checkbox" name="zipREY" value="110">110</input><br>
                    <input type="checkbox" name="zipREY" value="111">111</input><br>
                    <input type="checkbox" name="zipREY" value="112">112</input><br>
                    <input type="checkbox" name="zipREY" value="113">113</input><br>
                    <input type="checkbox" name="zipREY" value="114">114</input><br>
                    <input type="checkbox" name="zipREY" value="116">116</input><br>
                  </div>

                  <input type="checkbox" name="SEL"
                  onchange="handleChange(this)">
                  <span id="toggleSEL">Seltjarnarnes</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseSEL" style="display: none">
                    <input type="checkbox" name="zipSEL" value="170">170</input>
                  </div>

                  <input type="checkbox" name="KOP"
                  onchange="handleChange(this)">
                  <span id="toggleKOP">Kópavogur</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseKOP" style="display: none">
                    <input type="checkbox" name="zipKOP" value="200">200</input><br>
                    <input type="checkbox" name="zipKOP" value="201">201</input><br>
                    <input type="checkbox" name="zipKOP" value="203">203</input><br>
                  </div>

                  <input type="checkbox" name="GAR"
                  onchange="handleChange(this)">
                  <span id="toggleGAR">Garðabær</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseGAR" style="display: none">
                    <input type="checkbox" name="zipGAR" value="210">210</input><br>
                    <input type="checkbox" name="zipGAR" value="225">225</input><br>
                  </div>

                  <input type="checkbox" name="HAF"
                  onchange="handleChange(this)">
                  <span id="toggleHAF">Hafnarfjörður</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseHAF" style="display: none">
                    <input type="checkbox" name="zipHAF" value="220">220</input><br>
                    <input type="checkbox" name="zipHAF" value="221">221</input><br>
                  </div>

                  <input type="checkbox" name="MOS"
                  onchange="handleChange(this)">
                  <span id="toggleMOS">Mosfellsbær</span>
                  </input><br>
                  <div class="zipCollapse" id="collapseMOS" style="display: none">
                    <input type="checkbox" name="zipMOS" value="270">270</input><br>
                    <input type="checkbox" name="zipMOS" value="271">271</input><br>
                    <input type="checkbox" name="zipMOS" value="276">276</input><br>
                  </div>

              </form><br>
            </div>
          </div>

          <div id="otherInputs" class="otherInputs">
            <p id="verdToggle">Verð:</p>
            <div id="verdCollapse">
              <input type="text" placeholder="Min" id="priceMin">
              <input type="text" placeholder="Max" id="priceMax"><br>
            </div>

            <p id="numRoomsToggle">Fjöldi herbergja:</p>
            <div id="numRoomsCollapse">
              <input type="text" placeholder="Min" id="roomsMin">
              <input type="text" placeholder="Max" id="roomsMax"><br>
            </div>


            <p id="houseTypeToggle"> Tegund húsnæðis:</p>
            <div id="houseTypeCollapse">
              <select name="propertyType" id="propertyType">
                  <option value="">Allar tegundir</option>
                  <option value="Einbýlishús">Einbýlishús</option>
                  <option value="Fjölbýlishús">Fjölbýlishús</option>
                  <option value="Parhús">Parhús</option>
              </select><br>
            </div>
          </div>

          <input type="button" id="search-button" value="Leita">


        </div>
    </div>
    <div class="propertylist">
        <p>And the property list here</p>
        <table id="propertylist">
          <thead>
            <tr>
                <th>Heimilisfang</th>
                <th>Póstnúmer</th>
                <th>Stærð</th>
                <th>Svefnherbergi</th>
                <th>Verð</th>
                <th>Hlekkur</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
</div>

<div class="rightContainer container">
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qF171O_qBdXdwSLnH07kFDtbCk5M1CY&callback=initMap"></script>
</div>
