// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//===========
// Variables
//===========

// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

$openSans: Open Sans, sans-serif;
$raleway: Raleway, sans-serif;

// Colors

$blue: #062F4F;
$orange: #ee7600;
$purple: #813772;
$embers: #882601;

// Containers

$navbarHeight: 10%;

//===============
// General rules
//===============

* {
  font-family: $openSans;
}

div, p {
  color: white;
}

body, html {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $raleway;
}

.container {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

::-webkit-scrollbar {
  display: none;
}

//============
// Containers
//============

// Navbar

#navbar {
  background-color: $purple;
  width: 100%;
  height: $navbarHeight;
  display: inline-block;
}

// Search container

span.hiddenValue {
  color: #333333;
  background-color: #eeeee0;
  padding: 0 2% 0 2%;
}

.leftContainer {
  width: 50%;
  height: (100% - $navbarHeight);
  background-color: $blue;
  float: left;
  overflow-y: auto;
  * {
    margin: 5%;
  }
  span {
    margin: 0;
  }
}

.input-group {

}

.postnumer {
  width: 50%;
  float: left;
  margin-top: -2.5%;
}

#postnumerCollapse {
  overflow-y: auto;
    height: 23em;
    margin-bottom: 0;
    background-color: $orange;
}

.otherInputs {
  margin-left: 55%;
}

.propertylist {
  overflow-y: scroll;
}

#search-button {
  margin-top: 0;
}

// Map container

.rightContainer {
  width: 50%;
  height: (100% - $navbarHeight);
  background-color: $embers;
  float: right;
}

#map {
  width: 100%;
  height: 100%;
}
