<h1>This is the profile for <%= @user.first_name %></h1>

<% if current_user == @user %>
<h1>Ayyy lmao</h1>
<% end %>

<h1> Listings for <%= @user.first_name %></h1>

<% @properties.each do |property| %>
  <h2><%= property.address %></h2>
  <h2><%= link_to 'Listing', property_path(property)%></h2>
<% end %>
